<div class="modal-header">
    <h2><b>Update Profile {{user.userName}}</b></h2>
</div>
<div class="modal-body">
    <form class="form">
        <div class="form-group">
            <div class="form-group col-md-6">
                <label>First Name</label>
                <input type="text" class="form-control" ng-model="registerUser.firstName"
                    ng-keypress="($event.charCode==13)?update():return" />
            </div>
            <div class="form-group col-md-6">
                <label>Last Name</label>
                <input type="text" class="form-control" ng-model="registerUser.lastName"
                    ng-keypress="($event.charCode==13)?update():return" />
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" ng-model="registerUser.email"
                ng-keypress="($event.charCode==13)?update():return" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="update()">Submit</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <h5 class="alert alert-danger" ng-show="isError">{{errorMessage}}</h5>
</div>